
.cost-color-front > a{
    color: #ffffff;
}

.cost-color-front > div{
    color: #ffffff;
}

.cost-color-front{
    color: #ffffff;
    font-weight: 500;
}

.cost-back-color{
    background-color: rgb(96, 33, 33);
    color: black;
}

.button-div-before{
    align: center;
}

.fixed-button{
    position: fixed;
    align: right;
    bottom: 20px;
    background-color: rgb(96, 33, 33);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    right: 20px;
}

.navbar{
    background-color: rgb(96, 33, 33);
    width: 100%;
}


.navbar-nav-item{
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    font-weight: 500;

}