/* Background of the screen */
.container1 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    /* set all elements in the Center */
    text-align: center;
}

#container2 {
    position: relative; /* Set the position to relative */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 480px;
    height: 100vh;
}

/* top of the screen */
.StitchLabel {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-size: cover; /* Ensures the background image covers the entire element */
}

.controllers {
    display: flex;
    justify-content: center;
    width: 100%;
}

.controllers > button {
    background-color: rgba(0, 123, 255, 0);
}

/*Game area*/
.game-area {
    position: relative; /* Set the position to relative */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    width: 400px;
    height: 450px;
    background-color: rgba(139, 69, 19, 0); /* Brown */
    margin-bottom: 20px;
    border-radius: 10px;
}

.game-bord {
    position: absolute; /* Set the position to absolute */
}

.game-field{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

/* Cards Display on the game-area */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
}

.card {
    width: 100px;
    flex-shrink: 0; /* Prevents cards from shrinking */
    margin: 5px;
    background-color: rgba(255, 255, 255, 0);
}

/* Players Display */

.players {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    color: black;
}

.player img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 3px solid transparent;
}

.player img:hover {
    border-color: #00ff00; /* Green */
}

.call_player {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 85%;
    text-align: center;
    background-color: #8B4513;
    color: black;
    border-radius: 5px;
    padding: 5px;

}

/* Buttons for the cards */

.buttons {
 /* Show the Buttons */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

button {
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 123, 255, 0);
    color: rgba(255, 255, 255, 0);
    font-size: 16px;
}

.card_button > img {
    width: 100px;
    flex-shrink: 0; /* Prevents cards from shrinking */
}

.score {
    font-size: 20px;
    font-weight: bold;
}

/* Overlay for the Will you play */
.Will_you_play{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Ensure the overlay appears on top of other elements inside container2 */
    background-color: rgba(0, 0, 0, 0.73); /* Semi-transparent background */

    /* Hide the overlay by default */
    display: none;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.buttons_willyouplay {
/* Show the Buttons */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    max-width: 400px;
    margin-bottom: 5px;
}
.card_will_play > img {
    width: 100px;
    flex-shrink: 0; /* Prevents cards from shrinking */
}

/* Overlay with which color would you like to play */
.with_which_color{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Ensure the overlay appears on top of other elements inside container2 */
    background-color: rgba(0, 0, 0, 0.73); /* Semi-transparent background */

    /* Hide the overlay by default */
    display: none;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.buttons_which_color{
 /* Show the Buttons */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    max-width: 400px;
    margin-bottom: 5px;
}

.card_which_color > img {
    width: 100px;
    flex-shrink: 0; /* Prevents cards from shrinking */
}

/* Overlay for the who wins */
.who_wins{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Ensure the overlay appears on top of other elements inside container2 */
    background-color: rgba(0, 0, 0, 0.83); /* Semi-transparent background */

    /* Hide the overlay by default */
    display: none;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.Winning_UI{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    #container2 {
        width: 100%; /* Make container2 full width on mobile */
    }

    .controllers{
        font-size: 14px;
    }

    .game-area {
        height: 200px; /* Adjusted for mobile */
    }

    .game-field {
        font-size: 14px; /* Adjusted for mobile */
    }

    .card {
        width: 50px; /* Adjusted for mobile */
    }

    .player img {
        width: 60px; /* Adjusted for mobile */
        height: 60px; /* Adjusted for mobile */
    }

    button {
        font-size: 14px; /* Adjusted for mobile */
    }

    .card_button > img {
    width: 50px;
}
}
