{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for("static", filename= "CSS-files/style_addprofile.css")}}">
{% endblock %}
{% block  title%}Change Profil{% endblock %}
{% block  content%}
    <h1 align="center">Your Profil</h1>
    <div id="Changing Profil">
    <div class="your_profile">
        <div class="profile_image_container" align="center" style="align-items: center">
            <img src="../static/Profil_images/{{user.img_profile}}" alt="image" width="200" height="200" align="center" style="border-radius: 50%; margin-top: 5%">
        </div>
        <h5 align="center">{{ user.nickName }}</h5>
        <br>
    </div>
    <h4 align="center">Change your profil </h4>
        <br>
<form method="POST" enctype="multipart/form-data">
    <input type="file" id="image" accept="image/*" name="image" >
    <div id="imageContainer">
        <img id="loadedImage" src="#" alt="Loaded Image">
    </div>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Change</button>
    </div>
</form>
    </div>
{% endblock %}
