{% extends "base.html" %}
{% block title %}   create Table{% endblock %}
{% block content %}
    <form method = "POST">
        <h3 align="center">create Table</h3>
        <p>Here you can create your own new table, for your friends</p>
        <div class="form-group">
            <label for="name-table">What is the name of the table</label>
            <input type="text" class="form-control" id="name-table" name="name-table" placeholder="Name of the table">
            <label for="discription">Discription</label>
            <input type="text" class="form-control" id="discription" name="discription" placeholder="Give the table a discription">
            <br />
            <button type="submit" class="btn btn-primary">Create table</button>

        </div>
    </form>
{% endblock %}