{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS-files/game.css') }}">
    <link link rel="stylesheet" href="{{ url_for("static", filename="CSS-files/game.css")}}"/>
    <script>
          var table_id = {{ table.id }};
          var player_field = [{{players[0].id }}, {{ players[1].id }}, {{players[2].id }}, {{ players[3].id }}, {{ players[4].id }}];
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{{ url_for("static", filename="JS-files/game.js") }}"></script>
{% endblock %}
{% block title %}
    Briscola-Game
{% endblock %}
{% block content %}
    <div id="container1" class="container1">
        <div id="container2" >
            <div class="controllers">
                <button id="lastStich" class="lastStich">
                    <img src="{{ url_for("static", filename="UI-Game/Menu.png") }}" width="60px" height="100%">
                </button>
                <h4 id="StichLable" for="Stich" class="StichLable">
                    1. Stich: Knüppel
                </h4>
                <button id="ApproveButton" class="ApproveButton">
                    <img src="{{ url_for("static", filename="UI-Game/approve.png") }}" width="60px" height="100%">
                </button>

            </div>
            <div class="game-field">
                <div class="firstAndSecoundPlayer">
                    <div class="player">
                        <img id="player0" src="{{ url_for('static', filename="Profil_images/"+players[0].img_profile)}}" alt="Player 1">
                        <p class="call_player" id="call_player_0">
                            I would play with a 12.
                        </p>
                        <span>{{ players[0].nickName }}</span>
                    </div>
                    <div class="player">
                        <img  id ="player4" src="{{ url_for('static', filename="Profil_images/"+players[4].img_profile)}}" alt="Player 2">
                        <p class="call_player" id="call_player_1">
                            I would play with a 12.
                        </p>
                        <span>{{ players[4].nickName }}</span>
                    </div>
                </div>
                <div class="game-area">
                    <img class="game-bord" src="{{ url_for("static", filename="UI-Game/game-bord.png") }}" height="100%" width="100%" >
                    <div class="cards" id="cards">
                        <div class="card" id="bord_card0">
                            <img src="{{ url_for("static", filename="Bilddateien/Card_placeholder.png") }}" height="100%" width="100%">
                        </div>
                         <div class="card" id="bord_card1">
                            <img src="{{ url_for("static", filename="Bilddateien/Card_placeholder.png") }}" height="100%" width="100%">
                        </div>
                         <div class="card" id="bord_card2">
                            <img src="{{ url_for("static", filename="Bilddateien/Card02.png") }}" height="100%" width="100%">
                        </div>
                         <div class="card" id="bord_card3">
                            <img src="{{ url_for("static", filename="Bilddateien/Card03.png") }}" height="100%" width="100%">
                        </div>
                         <div class="card" id="bord_card4">
                            <img src="{{ url_for("static", filename="Bilddateien/Card_placeholder.png") }}" height="100%" width="100%">
                        </div>
                    </div>
                </div>
                <div class="therdAndFourthPlayer">
                    <div class="player">
                        <img  id="player1" src="{{ url_for('static', filename="Profil_images/"+players[1].img_profile)}}" alt="Player 3">
                        <p class="call_player" id="call_player_3">
                            I would play with a 12.
                        </p>
                        <span>{{ players[1].nickName }}</span>
                    </div>
                    <div class="player">
                        <img id="player2" src="{{ url_for('static', filename="Profil_images/"+players[2].img_profile)}}" alt="Player 4">
                        <p class="call_player" id="call_player_4">
                            I would play with a 12.
                        </p>
                        <span>{{ players[2].nickName }}</span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button id="card0" class="card_button" data_value="0" onclick="playCard(0)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card04.png") }}" height="100%" width="100%" alt="Card1">
                </button>
                <button id="card1" class="card_button" data_value="1" onclick="playCard(1)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card04.png") }}" height="100%" width="100%" alt="Card2">
                </button>
                <button id="card2" class="card_button" data_value="2" onclick="playCard(2)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card04.png") }}" height="100%" width="100%" alt="Card3">
                </button>
                <button id="card3" class="card_button" data_value="3" onclick="playCard(3)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card04.png") }}" height="100%" width="100%" alt="Card4">
                </button>
                <button id="card4" class="card_button" data_value="4" onclick="playCard(4)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card04.png") }}" height="100%" width="100%" alt="Card5">
                </button>
                <button id="card5" class="card_button" data_value="5" onclick="playCard(5)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card04.png") }}" height="100%" width="100%" alt="Card6">
                </button>
                <button id="card6" class="card_button" data_value="6" onclick="playCard(6)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card04.png") }}" height="100%" width="100%" alt="Card7">
                </button>
                <button id="card7" class="card_button" data_value="7" onclick="playCard(7)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card04.png") }}" height="100%" width="100%" alt="Card8">
                </button>
            </div>
        </div>

        <div class="Will_you_play" id="Will_you_play">
            <h4>Which high of the card would you like to play?</h4>
            <div class="buttons_willyouplay">
                <button id="will_play_card9" class="card_will_play" data_value="9" onclick="button_will_you_play_click(9)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card09.png") }}" height="100%" width="100%" alt="Card1">
                </button>
                <button id="will_play_card8" class="card_will_play" data_value="8" onclick="button_will_you_play_click(8)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card08.png") }}" height="100%" width="100%" alt="Card2">
                </button>
                <button id="will_play_card7" class="card_will_play" data_value="7" onclick="button_will_you_play_click(7)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card07.png") }}" height="100%" width="100%" alt="Card3">
                </button>
                <button id="will_play_card6" class="card_will_play" data_value="6" onclick="button_will_you_play_click(6)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card06.png") }}" height="100%" width="100%" alt="Card4">
                </button>
                <button id="will_play_card5" class="card_will_play" data_value="5" onclick="button_will_you_play_click(5)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card05.png") }}" height="100%" width="100%" alt="Card5">
                </button>
                <button id="will_play_card4" class="card_will_play" data_value="4" onclick="button_will_you_play_click(4)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card04.png") }}" height="100%" width="100%" alt="Card6">
                </button>
                <button id="will_play_card3" class="card_will_play" data_value="3" onclick="button_will_you_play_click(3)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card03.png") }}" height="100%" width="100%" alt="Card7">
                </button>
                <button id="will_play_card2" class="card_will_play" data_value="2" onclick="button_will_you_play_click(2)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card02.png") }}" height="100%" width="100%" alt="Card8">
                </button>
                <button id="will_play_card1" class="card_will_play" data_value="1" onclick="button_will_you_play_click(1)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card01.png") }}" height="100%" width="100%" alt="Card8">
                </button>
                <button id="will_play_card0" class="card_will_play" data_value="0" onclick="button_will_you_play_click(0)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card00.png") }}" height="100%" width="100%" alt="Card8">
                </button>
            </div>
            <p>When you just approve, you don't play or bet any longer!</p>
            <button id="skip_bet" class="ApproveButton" onclick="button_will_you_play_click(20)">
                <img src="{{ url_for("static", filename="UI-Game/approve.png") }}" width="60px" height="100%">
            </button>
        </div>

        <div class="with_which_color" id="with_which_color">
            <h4>With which color would you like to play?</h4>
            <div class="buttons_which_color">
                <button id="which_color_card1" class="card_which_color" data_value="0" onclick="selectTrumpfColor(0)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card09.png") }}" height="100%" width="100%" alt="Card1">
                </button>
                <button id="which_color_card2" class="card_which_color" data_value="1" onclick="selectTrumpfColor(1)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card19.png") }}" height="100%" width="100%" alt="Card2">
                </button>
                <button id="which_color_card3" class="card_which_color" data_value="2" onclick="selectTrumpfColor(2)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card29.png") }}" height="100%" width="100%" alt="Card3">
                </button>
                <button id="which_color_card4" class="card_which_color" data_value="3" onclick="selectTrumpfColor(3)">
                    <img src="{{ url_for("static", filename="Bilddateien/Card39.png") }}" height="100%" width="100%" alt="Card4">
                </button>
            </div>
        </div>

        <div class="who_wins" id ="who_wins">
            <h3 class="win_status_label" id="win_status_label" >You win the game</h3>
            <p>You win with 62 points of 120 points</p>
            <div class="Winning_UI">
                 <button id="newGame" class="newGame">
                    <img src="{{ url_for("static", filename="Bilddateien/newGame.png") }}" width="80px" height="100%">
                 </button>
                 <button id="backToMenu" class="backToMenu">
                     <img src="{{ url_for("static", filename="Bilddateien/home.png") }}" width="80px" height="100%">
                 </button>
            </div>
            <p class="newgame_lable" id="newgame_lable">You need to wait for the other players to start a new Game</p>
        </div>

    </div>
{% endblock %}
