{% extends "base.html" %} {% block  title%}Home{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS-files/home.css') }}">
{% endblock %}

{% block content %}
    <div class="Welcome">
        <h1>Welcome to Briscola arena</h1>
        <p>Now you can create a new briscola tabel or join one, which you see</p>
    </div>
    <div class="container2">
        <div class="row">
            <div class="col-md-6">
                <a href="/create-table" class="btn btn-primary btn-lg">
                    <img src="{{ url_for('static', filename='Icons/plus(1).png') }}" alt="plus" class="plus" width="30" height="30">
                    Create a new table
                </a>
            </div>
            <div class="col-md-6">
                <a href="/join-table" class="btn btn-primary btn-lg">
                    <img src="{{ url_for('static', filename='Icons/share.png') }}" alt="join" class="join" width="30" height="30">
                    Join a table
                </a>
            </div>
        </div>
    </div>
{% endblock %}
